
<md-toolbar>
    <div class="md-toolbar-tools">

        <div class="menu-btn">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidebar()">
                <md-icon md-svg-icon="/static/img/menu.svg"></md-icon>
            </md-button>
        </div>
        <h1>
            <span>UES Energy Dashboard</span>
        </h1>
    </div>
</md-toolbar>

<section layout="row" flex>
    <!-- LEFT-PANEL -->
    <md-sidenav
            class="md-sidenav-left sidebar-main"
            md-component-id="sidebar"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="5">

        <md-toolbar layout="row" class="md-accent md-hue-2">
            <div class="md-toolbar-tools">
                <span>Medidores:</span>
            </div>
        </md-toolbar>
        <md-content class="node-list-detail">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="n in controller.markers" ng-click="controller.loadNode(n.id)" >
                    <img href="#" alt="node-{{ n.id }}" ng-src="{{ n.photography }}" class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <h4>{{ n.name }}</h4>
                        <p>{{ n.desc}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <!-- /LEFT-PANEL -->

    <!-- MAIN-PANEL -->
    <md-content class="main-panel">
        <!-- MAP -->
        <div class="map-wrapper" ng-show="controller.showMainMap">
            <ng-map id="ngmap1" center="{{ controller.map.center }}" zoom="{{ controller.map.zoom }}"
                    default-style="false">
                <marker ng-repeat="n in controller.markers"
                        id="m{{ n.id }}"
                        position="{{n.position}}"
                        data="{{n}}"
                        title="Medidor: {{n.name}}"
                        on-click="controller.showDetail(n)"></marker>
                <shape ng-repeat="l in controller.lines"
                       name="polyline" id="l.id"
                       path="{{l.path}}"
                       stroke-color="#48ce6e"
                       stroke-opacity="1.0"
                       stroke-weight="2">
                </shape>

                <info-window id="foo-iw">
                    <div ng-non-bindable="">
                        {{ controller.__node.name }}
                        <a href="/#/" class="md-button md-primary md-raised" ng-click="controller.__node.loadNode()">
                            Ver nodo
                        </a>
                    </div>
                </info-window>
            </ng-map>
        </div>
        <!-- /MAP -->


        <!-- NODE -->
        <md-content id="node-show" ng-hide="controller.showMainMap" class="node-view" flex>

            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <md-button class="md-raised" aria-label="Go Back" ng-click="controller.reset()"> Ver Mapa </md-button>
                    <h2>
                        <span>{{ controller.node.name }}</span>
                    </h2>
                </div>
            </md-toolbar>



            <md-content layout="column" layout-gt-xs="row" flex>
                <!-- NODE INFO -->
                <md-content flex="30">
                    <md-card>
                        <img ng-src="{{ controller.node.photography }}">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ controller.node.name }}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            {{ controller.node.desc }}
                            <p>{{ controller.node.description }}</p>
                        </md-card-content>
                    </md-card>
                </md-content>
                <!-- /NODE INFO -->


                <!-- MEASURES INFO -->
                <md-content layout="column" flex="70">

                    <!-- DATE RANGE -->
                    <md-content layout="row" layout-sm="column" laflex>
                        <md-input-container flex="40">
                            <label>Fecha de Inicio</label>
                            <md-datepicker ng-model="fecha_inicio"></md-datepicker>
                        </md-input-container>
                        <md-input-container flex="40">
                            <label>Fecha de Fin</label>
                            <md-datepicker ng-model="fecha_fin"></md-datepicker>
                        </md-input-container>
                        <md-button type="submit" class="md-raised actualizar-btn" ng-click="controller.loadMeasures(controller.node.id)">Actualizar</md-button>
                    </md-content>
                    <!-- /DATE RANGE -->

                    <!-- TABS -->
                    <md-tabs md-dynamic-height md-border-bottom>

                        <!-- CHART -->
                        <md-tab label="Grafico" >
                            <br />
                            <div>
                                <md-content flex layout="row" layout-align="center center">
                                    <div flex  class="chart-container">
                                    <canvas id="line" class="chart chart-line" chart-data="data"
                                            chart-labels="labels" chart-series="series" chart-options="options"
                                            chart-dataset-override="datasetOverride" chart-click="onClick">
                                    </canvas>
                                    </div>
                                </md-content>
                            </div>
                        </md-tab>
                        <!-- /CHART -->

                        <!-- BILL INFO -->
                        <md-tab label="Factura">
                            <md-content>
                                TABLAS<br/>
                                TABLAS<br/>
                                TABLAS<br/>
                                TABLAS<br/>
                                TABLAS<br/>
                            </md-content>
                        </md-tab>
                        <!-- /BILL INFO -->

                    </md-tabs>
                    <!-- /TABS -->
                </md-content>
                <!-- /MEASURES INFO -->
            </md-content>

        </md-content>
        <!-- /NODE -->

    </md-content>
    <!-- /MAIN-PANEL -->
</section>

<md-toolbar>
    <p class="md-toolbar-tools footer">
        <span>UES Energy Dashboard - 2016</span>
    </p>
</md-toolbar>