
<md-toolbar>
    <div class="md-toolbar-tools">
        <h3>
            <span>UES Energy Dashboard</span>
        </h3>
    </div>
</md-toolbar>

<md-content layout="row" layout-xs="column" class="main-container">

    <!-- LEFT-PANEL -->
    <md-content id="left-panel" flex-lt-lg="15" flex-lt-md="30" class="left-panel">

        <md-content layout="column">

            <md-content class="node-list" flex="100">
                <md-toolbar layout="row" class="md-accent md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>Medidores:</span>
                    </div>
                </md-toolbar>
                <md-content ng-class="controller.node_list_class">
                    <md-list flex="100">
                        <md-list-item class="md-2-line" ng-repeat="n in controller.markers" ng-click="n.loadNode()" >
                            <img href="#" alt="node-{{ n.id }}" ng-src="{{ n.photography }}" class="md-avatar" />
                            <div class="md-list-item-text" layout="column">
                                <h4>{{ n.name }}</h4>
                                <p>{{ n.desc}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-content>

            <md-content ng-hide="controller.showMainMap" flex="30">
                <md-content layout="row">
                    <!-- MINIMAP -->
                    <md-content id="node-show" flex>
                		<div class="map-wrapper2" ng-hide="controller.showMainMap" >
	                    <!-- MAP -->
	                        <ng-map id="ngmap2" center="{{ controller.node.position }}" zoom="19"
	                                default-style="false">
	                            <marker id="m{{ controller.node.id }}"
	                                    position="{{controller.node.position}}"
	                                    data="{{controller.node}}"
	                                    title="Medidor: {{controller.node.name}}"></marker>
	                        </ng-map>
	                    <!-- /MAP -->
                		</div>
                    </md-content>
                    <!-- /MINIMAP -->
                </md-content>
            </md-content>

        </md-content>
    </md-content>
    <!-- /LEFT-PANEL -->

    <!-- MAIN-PANEL -->
    <md-content flex>
        <md-content layout="row">

            <md-content id="main-panel" flex>

                <div class="map-wrapper" ng-show="controller.showMainMap">
                    <!-- MAP -->
                        <ng-map id="ngmap1" center="{{ controller.map.center }}" zoom="{{ controller.map.zoom }}"
                                default-style="false">
                            <marker ng-repeat="n in controller.markers"
                                    id="m{{ n.id }}"
                                    position="{{n.position}}"
                                    data="{{n}}"
                                    title="Medidor: {{n.name}}"
                                    on-click="controller.showDetail(n)"></marker>
                            <shape ng-repeat="l in controller.lines"
                                   name="polyline" id="l.id"
                                   path="{{l.path}}"
                                   stroke-color="#48ce6e"
                                   stroke-opacity="1.0"
                                   stroke-weight="2">
                            </shape>

                            <info-window id="foo-iw">
                                <div ng-non-bindable="">
                                    {{ controller.__node.name }}
                                    <a href="/#/" class="md-button md-primary md-raised" ng-click="controller.__node.loadNode()">
                                        Ver nodo
                                    </a>
                                </div>
                            </info-window>
                        </ng-map>
                    <!-- /MAP -->
                </div>

                <!-- NODE -->
                <md-content id="node-show" ng-hide="controller.showMainMap" class="node-view" flex>
                    <md-button class="md-raised md-accent md-hue-2" href="/#/" ng-click="controller.reset()">Ver Mapa</md-button>
                    NODE VIEW
                    
                    <nvd3 options="controller.chartopts" data="controller.chartdata" id="chart">
                    </nvd3>
                </md-content>
                <!-- /NODE -->

            </md-content>
        </md-content>
        <!-- /MAIN-PANEL -->

    </md-content>

</md-content>


<md-toolbar>
    <span flex> </span>
    <span flex> </span>
    <p class="md-toolbar-tools footer">
        <span>UES Energy Dashboard - 2016</span>
    </p>
</md-toolbar>