<div layout-fill="column">
    <div layout="row" layout-align="space-around stretch">
        <div flex="30">
            <md-card ng-click="vm.cargarNodo(vm.nodo)" style="cursor: pointer;">
                <md-card-header>
                    <md-card-header-text>
                        <h5><span class="md-title">{[{ vm.nodo.nombre }]}</span></h5>
                        <h6 ng-if="vm.nodo.padre!=null"><a href="/#/nodos/{[{vm.nodo.padre}]}">Ver Padre</a></h6>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{[{ vm.nodo.fotografia }]}" class="md-card-image"
                     alt="Nodo {[{ vm.nodo.id }]} {[{ vm.nodo.nombre }]}" style="max-height: 225px">
                <md-card-content>
                    <h5>Demandas </h5>
                    <p style="font-size: 10px;" ng-repeat="d in vm.nodo.demandas"><strong>{[{ vm.demanda2Text(d)
                        }]}:</strong>
                        {[{ d.demanda }]}</p>
                </md-card-content>
            </md-card>
        </div>
        <div flex="40" layout="column">
            <div layout="column" flex layout-align="center center">
                <div flex="100">
                    <md-datepicker ng-model="vm.desde" md-placeholder="Desde">
                    </md-datepicker>
                    <md-datepicker ng-model="vm.hasta" md-placeholder="Hasta">
                    </md-datepicker>
                    <md-button class="md-raised md-primary" ng-click="vm.aplicarFiltroFechas()">Filtrar</md-button>
                    <div class="chart-container">
                        <angular-chart options="vm.statefulOptions"></angular-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div flex-gt-xs="100" layout="row">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Filtro</label>
                <md-select ng-model="vm.tipoFiltro" ng-change="vm.filtrarNodos()">
                    <md-option value="0">Todos</md-option>
                    <md-option value="1">Solo principales</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Buscar</label>
                <input name="postalCode" ng-model="busqueda.nombre" placeholder="Buscar...">
            </md-input-container>
        </div>
        <div flex-gt-xs="25" layout="column" ng-repeat="grupo in vm.grupos">
            <div ng-repeat="n in grupo | filter:busqueda:strict">
                <md-card ng-click="vm.cargarNodo(n)" style="cursor: pointer;">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{[{ n.nombre }]}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="{[{ n.fotografia }]}" class="md-card-image"
                         alt="Nodo {[{ n.id }]} {[{ n.nombre }]}" style="max-height: 225px">
                    <md-card-content>
                        <h5>Demandas </h5>
                        <p style="font-size: 10px;" ng-repeat="d in nodo.demandas"><strong>{[{ vm.demanda2Text(d)
                            }]}:</strong>
                            {[{ d.demanda }]}</p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>