<div layout-fill="column">
    <div layout-fill="row">
        <div flex-gt-xs="25" layout="column">
            <md-card ng-click="vm.cargarNodo(vm.nodo)" style="cursor: pointer;" flex>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{[{ vm.nodo.nombre }]}</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{[{ vm.nodo.fotografia }]}" class="md-card-image"
                     alt="Nodo {[{ vm.nodo.id }]} {[{ vm.nodo.nombre }]}" style="max-height: 225px">
                <md-card-content>
                    <h5>Demandas </h5>
                    <p style="font-size: 10px;" ng-repeat="d in vm.nodo.demandas"><strong>{[{ vm.demanda2Text(d)
                        }]}:</strong>
                        {[{ d.demanda }]}</p>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-xs="75" layout="column">
            <md-content layout="row" flex-gt-xs>
                <md-datepicker flex ng-model="vm.desde" md-placeholder="Desde">
                </md-datepicker>
                <md-datepicker flex ng-model="vm.hasta" md-placeholder="Hasta">
                </md-datepicker>
                <md-button class="md-raised md-primary" ng-click="vm.aplicarFiltroFechas()">Filtrar</md-button>
            </md-content>
            <md-content layout="row">
                <div class="chart-container">
                    <angular-chart options="vm.statefulOptions"></angular-chart>
                </div>
            </md-content>
        </div>
    </div>

    <div flex-gt-xs="75" layout="row">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Filtro</label>
                <md-select ng-model="vm.tipoFiltro" ng-change="vm.filtrarNodos()">
                    <md-option value="0">Todos</md-option>
                    <md-option value="1">Solo principales</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Buscar</label>
                <input name="postalCode" ng-model="busqueda.nombre" placeholder="Buscar...">
            </md-input-container>
        </div>
        <div flex-gt-xs="25" layout="column" ng-repeat="grupo in vm.grupos">
            <div ng-repeat="nodo in grupo | filter:busqueda:strict">
                <md-card ng-click="vm.cargarNodo(nodo)" style="cursor: pointer;">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{[{ nodo.nombre }]}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="{[{ nodo.fotografia }]}" class="md-card-image"
                         alt="Nodo {[{ nodo.id }]} {[{ nodo.nombre }]}" style="max-height: 225px">
                    <md-card-content>
                        <h5>Demandas </h5>
                        <p style="font-size: 10px;" ng-repeat="d in nodo.demandas"><strong>{[{ vm.demanda2Text(d)
                            }]}:</strong>
                            {[{ d.demanda }]}</p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>