<html lang="en" >{% load staticfiles %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="{% static "dashboard/css/angular-material.min.css" %}">
  <title>UES Energy Dashboard</title>
</head>
<body ng-app="DashboardApp" ng-cloak layout-fill>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="{% static "dashboard/js/angular.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-animate.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-aria.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-messages.min.js" %}"></script>

  <!-- Angular Material Library -->
  <script src="{% static "dashboard/js/angular-material.min.js" %}"></script>

  <!-- Your application bootstrap  -->
  <script src="{% static "dashboard/js/app.js" %}"></script>

    <div ng-controller="AppCtrl" layout='column'>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>UES ENERGY DASHBOARD</span>
        </div>
      </md-toolbar>
      <div layout="row" flex>
        <div layout="column" ng-repeat="photoColumn in data.photos3p" flex>
          <md-card ng-repeat="photo in photoColumn" layout layout-padding>
            <img ng-src="photo.path">
          </md-card>
        </div>
      </div>
    </div>
  </body>
</html>