<html lang="en">{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="{% static "dashboard/css/angular-material.min.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/app.css" %}">
    <title>UES Energy Dashboard</title>
</head>
<body ng-app="DashboardApp" layout-fill>

<!-- Angular Material requires Angular.js Libraries -->
<script src="{% static "dashboard/js/angular.min.js" %}"></script>
<script src="{% static "dashboard/js/angular-animate.min.js" %}"></script>
<script src="{% static "dashboard/js/angular-aria.min.js" %}"></script>
<script src="{% static "dashboard/js/angular-messages.min.js" %}"></script>
<script src="{% static "dashboard/js/angular-route.min.js" %}"></script>

<!-- Angular Material Library -->
<script src="{% static "dashboard/js/angular-material.min.js" %}"></script>

<!-- Your application bootstrap  -->
<script src="{% static "dashboard/js/app.js" %}"></script>

<div layout='column'>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>UES ENERGY DASHBOARD</span>
        </div>
    </md-toolbar>

    <div ng-view>

    </div>
</div>
</body>
</html>