<html lang="en" >{% load staticfiles %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="{% static "dashboard/css/angular-material.min.css" %}">
  <title>UES Energy Dashboard</title>
</head>
<body ng-app="DashboardApp" layout-fill>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="{% static "dashboard/js/angular.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-animate.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-aria.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-messages.min.js" %}"></script>

  <!-- Angular Material Library -->
  <script src="{% static "dashboard/js/angular-material.min.js" %}"></script>

  <!-- Your application bootstrap  -->
  <script src="{% static "dashboard/js/app.js" %}"></script>

    <div ng-controller="AppCtrl" layout='column'>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>UES ENERGY DASHBOARD</span>
        </div>
      </md-toolbar>

        <md-grid-list md-cols-sm="12" md-cols-md="8" md-cols-lg="4" md-cols-gt-lg="2" >
            <md-grid-tile ng-repeat="f in fotos">
              <img src="{{ f.path }}" />
              <md-grid-tile-header>
                <h3>This is a header</h3>
              </md-grid-tile-header>
              <md-grid-tile-footer>
                <h3>This is a footer</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
  </body>
</html>